body {
    background-color: white;
}

#productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productCard {
    box-sizing: border-box;
    background-color: lightsalmon;
    width: 30%;
    margin: 1%;
    text-align: center;
    border-style: 1px solid lightblue;
}
.image__productCard {
    max-width: 100%;
}